.App {
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mz-section {
  padding: 2em 0;
  min-height: 40em;
}

.mz-section.black {
  background-color: #333;
}

.mz-grey {
  background-color: #ddd;
}

.mz-section.mz-image {
  background-image: url("Mozambique-9.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.mz-section-header {
  margin: 0 0 1em 0;
}

.mz-section-text {
  color: #333;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.2em;
}

h3.mz-socrata-chart-title {
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
}

.mz-socrata-chart-container {

}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.mz-socrata-chart-container .socrata-embed-container .input-group  {
  display: table !important;
}

.mz-socrata-chart-container .socrata-embed-container .btn-default {
  background-color: #f1f1f1 !important;
  color: #6a6a6a !important;
}

.mz-socrata-chart-container .socrata-embed-container .btn-default.active {
  border-color: #ccc !important;
  background-color: #f1f1f1 !important;
  color: #6a6a6a !important;
}

.mz-socrata-chart-container .socrata-embed-container .btn-default:focus, .mz-socrata-chart-container .socrata-embed-container .btn-simple:hover {
  color: #6a6a6a !important;
  background-color: #f1f1f1 !important;
  color: #6a6a6a !important;
}